!!! 5

%html
  %head
    %title Marcell Vazquez-Chanlatte

    %meta(charset="utf-8")/
    %meta(name="description" content="MJVC personal website.")/
    %link(rel="stylesheet" href="https://cdn.jsdelivr.net/pure/0.6.0/pure-min.css" type="text/css")/
    %link(rel="stylesheet" href="https://unpkg.com/purecss@1.0.0/build/grids-responsive-min.css")/
    %link(rel="stylesheet" href="https://thomasf.github.io/solarized-css/solarized-dark.min.css")/
    %link(rel="stylesheet" href="https://unpkg.com/papercss@1.6.1/dist/paper.min.css")/
    %link(rel="stylesheet" href="personal.css" type="text/css")/

%body
  %header
    %h1 Marcell J. Vazquez-Chanlatte

    %nav
      %ul.child-borders.child-shadows-hover
        %li.hover
          %a.pure-menu-link(href="#about") About
        %li.hover
          %a.pure-menu-link(href="#code") Code
        %li.hover
          %a.pure-menu-link(href="#publications") Publications
        %li.hover
          %a.pure-menu-link(href="https://github.com/mvcisback/") Github
        %li.hover
          %a.pure-menu-link(href="https://mjvc.me/rss.xml") RSS
        %li.hover
          %a.pure-menu-link(href="images/e.png") Email
        %li.hover
          %a.pure-menu-link(href="/cv.html") CV

  %main
    %figure#profile
      %img(src="images/marcell.svg")/
      %figcaption
        Illustration by
        %a(href="https://polgreen.github.io/")
          Dr. Elizabeth Polgreen.
        %br/
        %a(href="images/profile.jpg")
          Click here to see Original
    %section#about.border.border-3.border-primary
      %h2 About Me

      %p
        I am currently an AI Research Scientist at Nissan's Alliance Innovation Lab, Silicon Valley.
        I received by PhD in Computer Science  at the University of California,
        Berkeley advised by Prof. Sanjit A. Sesha I received a B.S. in Computer
        Science and a B.S. Physics at the University of Illinois at
        Urbana-Champaign. I have also spent time at VMWare, SRI, Toyota,
        Google, Mozilla, and Qualcomm.
      %p
        Please take the time to explore this site and learn more
        about my research interests, active software projects, and
        publications.

      #dissertation.border.border-5
        %h3
          PhD Dissertation
        %h4(style="font-size: 1.2em; padding: 1em; margin: 0;") 
          Specifications from Demonstrations: Learning, Teaching, and Control

        %img(src="images/dissertation_logo.svg")/

        %p(style="font-size: 0.7em")
          <strong>Committee:</strong> 
          Sanjit A. Seshia, Chair,
          S. Shankar Sastry,
          Professor Anca Dragan,
          Professor Steven Piantadosi
        %p
          %a(href="https://www2.eecs.berkeley.edu/Pubs/TechRpts/2022/EECS-2022-107.html") pdf
          %a(href="https://mjvc.me/phd") slides
      %p
        %strong Simons Institute talk:
        %a(href="https://www.youtube.com/watch?v=SMGVXCV4b6g")
          Inferring Specifications From Demonstrations; A Maximum (Causal) Entropy Approach


    %section#research-interests.border.border-2.border-primary
      %h2 Research Interests 🔬
      %ol
        %li Human Robot Interaction
        %li Task Specification Inference
        %li Bayesian Statistics 
        %li Safety and Artificial Intelligence

    %section#code.border.border-2.border-primary
      %h2 Select Software Projects 💻
      %p
        See <a href=""https://github.com/mvcisback/">Github</a> for a
        more exhaustive list.

      %details(open="")
        %summary Sequential Circuits
        %section
          %img.logo.round(src="images/pyaiger.svg" loading="lazy")/
          %p
            %a(href="https://github.com/mvcisback/py-aiger")
              pyAiger:

            A python library for convenient modeling/ manipulation
            of sequential circuits, combinatorial circuits, and
            boolean expressions represented as <b>(A)nd</b>
            & <b>(I)nverter</b> <b>(G)ates</b> (AIGs). Co-developed
            with <a href="https://people.eecs.berkeley.edu/~rabe/">Markus
            N. Rabe</a>.

        %section
          %img.logo.round(src="images/pyaiger-bv.svg" loading="lazy")/
          %p
            %a(href="https://github.com/mvcisback/py-aiger-bv")
              pyAiger-BV:

            Word Level (bitvector) abstractions on top of <a
            href="https://github.com/mvcisback/py-aiger">pyAiger</a>.
            Co-developed with <a href="https://people.eecs.berkeley.edu/~rabe/">
            Markus N. Rabe</a>.

        %p
          There are <a href="https://github.com/mvcisback/py-aiger#ecosystem">
          a number of other projects</a> that I have spawned off the
          py-aiger code base for supporting bdds, SAT solvers, past
          tense LTL, gridworlds, and conversion to and from DFAs.

      %details
        %summary Time-Series

        %section
          %img#mtl.logo.wide(src="images/mtl_logo.png" loading="lazy")/
          %p
            %a(href="https://github.com/mvcisback/py-metric-temporal-logic")
              py-Metric-Temporal-Logic:

            Python library for working with Metric Temporal Logic
            (MTL). Metric Temporal Logic is an extension of Linear
            Temporal Logic (LTL) for specifying properties over time
            series.

        %section
          %img.logo(loading="lazy" src="images/discretesignals_logo.svg")/
          %p
            %a(href="https://github.com/mvcisback/discretesignals")
              DiscreteSignals:

            A Python embedded domain specific language for modeling
            and manipulating discrete time signals. The key
            distinction between many other timeseries libraries is the
            lightweight encoding of non-uniform time steps. This
            abstraction made implementing the py-Metric-Temporal-Logic
            library much easier.

      %details
        %summary Specification Inference
        
        %section
          %p 
            <a href="https://github.com/mvcisback/DISS">
            Demonstration Informed Specification Search
            (DISS)</a>: a tool for learning "Boolean Task Specifications", in the form
            of automata or logic, from demonstrations.
        %section
          %img.logo(loading="lazy" src="images/sifd.svg")/
          %p
            %a(href="https://github.com/mvcisback/gridworld-visualizer")
              Gridworld Visualizer:

            Python Code for visualizing gridworlds used in my research

        %section
          %img.logo(loading="lazy" src="https://raw.githubusercontent.com/mvcisback/monotone-bipartition/master/assets/bipartition.svg?sanitize=true")/
          %p
            %a(href="https://github.com/mvcisback/monotone-bipartition")
              Monotone Bipartition:

            This library enable manipulating and comparing implicitly
            defined monotone bipartitions on the unit box using
            adaptive mesh refinement.
            %br/
            Inspired by <a href="https://hal.archives-ouvertes.fr/hal-01556243/">
            Maler, Oded. "Learning Monotone Partitions of Partially-Ordered Domains
            (Work in Progress)." (2017).</a> and the main work horse our series of
            papers on Logical Lens and Logical Clustering.

        %section
          %img.logo.wide(loading="lazy" src="https://raw.githubusercontent.com/mvcisback/LogicalLens/master/assets/bipartition.svg?sanitize=true")/
          %p
            %a(href="https://github.com/mvcisback/LogicalLens")
              Logical Lens:0

            Implementation of Logical Lens algorithm for (1) using a
            parametric specification to map data to an abstract
            boundary and (2) compute the induced "Logical Distance"
            between data w.r.t. a parametric specification.

      %details
        %summary Automata

        %section
          %p
            %a(href="https://github.com/mvcisback/dfa")
              DFA:

            A simple python implementation of a Deterministic Finite
            Automata and Moore Machines. Notable features include
            implicit/lazy definitions, immutable/frozen design, and
            hashability.

        %section
          %p
            %a(href="https://github.com/mvcisback/lstar")
              lstar:

            Python implementation of the discriminant tree for
            learning DFA and Moore Machines from membership and
            equivalence queries. Supports a co-routine API for
            interfacing with other learning algorithms. Works well
            with my dfa library :)

        %section
          %p
            %a(href="https://github.com/mvcisback/dfa-identify")
              dfa-identify:

            Python implementation of SAT based Deterministic Finite Automata
            identification from a set of accepting and rejecting strings.


      %details
        %summary Other

        %p
          %a(href="https://github.com/mvcisback/pyLazyTree")
            Lazy Tree:

          Python library for manipulating infinite trees. Used in a
          number of my libraries. For example, the adaptive
          mesh-refinement in monotone-bipartition and the
          counterexample search tree in lstar.

          Useful when a problem can be framed as a search on infinite trees
          which themselves may be functions of infinite trees.

    
    %section#publications.border.border-primary
      %h2 Select Publications 📃
      %p
        Please consult 
        %a(href="https://scholar.google.com/citations?user=3WoCRqAAAAAJ&hl=en&oi=ao")
          Google Scholar
        for a more complete list.

      %details(open="")
        %summary Preprints
        
        %ol
          %li
            <strong>Vazquez-Chanlatte, Marcell</strong>, Ameesh Shah, Gil Lederman, Sanjit A. Seshia. "Demonstration Informed Specification Search."
            %br/

            %a(href="http://arxiv.org/abs/2112.10807") arxiv
            %a(href="papers/diss.pdf") paper
            %a(href="/DISS") slides


            %figure
              %img(src="images/diss_teaser.svg" loading="lazy")/

          %li
            <strong>Vazquez-Chanlatte, Marcell</strong>, Markus N. Rabe, and
            Sanjit A. Seshia. "A Model Counter's Guide to
            Probabilistic Systems."
            %br/
            %a(href="https://arxiv.org/abs/1903.09354") arxiv


            %figure
              %img(src="images/circuit_mdp.svg" loading="lazy")/

      %details(open="")
        %summary Publications

        %ol
          %li
            <strong>Vazquez-Chanlatte, Marcell</strong>, Junges,
            Sebastian, Daniel J. Fremont, Sanjit A. Seshia. "Entropy
            Guided Control Improvisation", Robotics Science and Systems 2021
            %br/
            %a(href="papers/rss2021.pdf") pdf
            %a(href="https://arxiv.org/abs/2103.05672") arxiv
            %a(href="/RSS21") slides
            %a(href="https://youtu.be/gYPutlOLqhc") video


            %figure
              %img(src="images/erci_teaser.svg" loading="lazy")/

          %li
            Junges, Sebastian, Steven Holtzen, <strong>Marcell
            Vazquez-Chanlatte</strong>, Todd Millstein, Guy Van den Broerk, Sanjit
            A. Seshia. "Model Checking Finite-Horizon Markov Chains with
            Probabilistic Inference", In International Conference on
            Computer Aided Verification, 2021.
            %br/
            %a(href="https://arxiv.org/abs/2105.12326") arxiv

            %figure
              %img(src="images/cav21_teaser.png" loading="lazy")/
          %li
            <strong>Vazquez-Chanlatte, Marcell</strong>, and Sanjit
            A. Seshia. "Maximum Causal Entropy Specification Inference
            from Demonstrations." In International Conference on
            Computer Aided Verification, pp. 255-278. Springer, Cham,
            2020.
            %br/
            %a(href="papers/cav2020.pdf") pdf
            %a(href="https://arxiv.org/pdf/1907.11792.pdf") arxiv
            %a(href="papers/cav2020.bib") bibtex
            %a(href="/CAV2020") slides
            %a(href="https://youtu.be/5oF2FB4ZL9g") CAV 2020 Talk


            %figure
              %img(src="images/cav20_teaser.svg" loading="lazy")/
          %li
            <strong> Vazquez-Chanlatte, Marcell </strong>, Susmit
            Jha, Ashish Tiwari, Mark K. Ho, and Sanjit
            A. Seshia. "Learning Task Specifications from
            Demonstrations." In NeurIPS. 2018.
            %br/
            %a(href="papers/nips2018_specinference_from_demos.pdf") pdf
            %a(href="https://arxiv.org/abs/1710.03875") arxiv
            %a(href="papers/nips2018_specinference_from_demos.bib") bibtex

            %figure
              %img(src="images/neurips18_teaser.svg" loading="lazy")/

          %li 
            (Extended Abstract) <strong>Vazquez-Chanlatte, Marcell </strong>, et al. "Communicating Compositional and Temporal Specifications by Demonstration." IFAC Conference on Cyber-Physical & Human Systems. CPHS, 2018

            %figure
              %img(src="images/cphs18_teaser.svg" loading="lazy")/


          %li
            <strong>Vazquez-Chanlatte, Marcell</strong>, Shromona
            Ghosh, Jyotirmoy V. Deshmukh, Alberto
            Sangiovanni-Vincentelli, and Sanjit
            A. Seshia. "Time-series learning using monotonic logical
            properties." In International Conference on Runtime
            Verification, pp. 389-405. Springer, Cham, 2018.
            %br/
            %a(href="papers/rv2018_logical_ts_learning.pdf") pdf
            %a(href="https://arxiv.org/abs/1802.08924") arxiv
            %a(href="papers/rv2018_logical_ts_learning.bib") bibtex
            %a(href="/RV2018") slides

            %figure
              %img(src="images/rv18_teaser.svg" loading="lazy")/

          %li
            <strong> Vazquez-Chanlatte, Marcell J.</strong>, Shromona
            Ghosh, Vasumathi Raman, Alberto Sangiovanni-Vincentelli,
            and Sanjit A. Seshia. "Generating dominant strategies for
            continuous two-player zero-sum games."  IFAC-PapersOnLine
            51, no. 16 (2018): 7-12.

            %figure
              %img(src="images/adhs18_teaser.svg" loading="lazy")/

          %li
            <strong>Vazquez-Chanlatte, Marcell</strong>, Jyotirmoy V. Deshmukh, 
            Xiaoqing Jin, and Sanjit A. Seshia. 
            "Logical Clustering and Learning for Time-Series Data."
            %br/
            %a(href="papers/cav2017.pdf") pdf
            %a(href="https://arxiv.org/abs/1612.07823") arxiv
            %a(href="papers/cav2017.bib") bibtex

            %figure
              %img(src="images/cav17_teaser.png" loading="lazy")/

